/* xs < 768 */
@media screen and (max-width: 767px) {
    body {
        font-size: 4em;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 4em;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 2em;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.5em;
    }
}

[data-hidden="hidden"] {
   display: none; /* OR */
   visibility: hidden; /* If you want to reserve space */
}

.product-intro {
	padding: 1em;
}

.product-intro h1 {
	background: #e8e8ce;
	padding: 0.5em;
    font-size: 2em;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
}

.navigator {
	border-top: 1px solid #ccc;
	margin: 0;
    padding: 1em;
}

.navigator div {
	padding: 0;
}
